.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  border-radius: 15%;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--round--add {
  background: $dark-green;
  font-size: 31px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 10px;
}